pip install --upgrade "jax[cuda12_pip]" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
pip install pytest
pip install plum-dispatch
pip install jaxtyping
pip install simple_pytree
pip install pandas
pip install seaborn
pip install hdf5storage
pip install tqdm